@import "tailwindcss";

/* --------- LIGHT THEME (default) --------- */
:root {
    /* Your original picks */
    --c-bg: #eeeeee; /* background */
    --c-primary: #213D82; /* primary accent */
}

@theme {
    --font-hero: "Jersey 10", sans-serif;

    --color-bg: var(--c-bg);
    --color-primary: var(--c-primary);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
